ul.list-group
  li.list-group-item(ng-repeat="stock in stocks") {{stock.symbol}}
    button.btn.btn-default(ng-click="deleteStock(stock)") delete

  
form.new-stock-form
  p.input-group
    input.form-control(type='text', placeholder='Add a new stock here.', ng-model='newStock')
    span.input-group-btn
      button.btn.btn-primary(type='submit', ng-click='addStock()') Add New
