
@mixin unevenBorders($leftBorder, $remainingBorders) {
  border-right: $leftBorder;
  border-left: $remainingBorders;
  border-top: $remainingBorders;
  border-bottom: $remainingBorders;
}



#stock-display {
  @include col-md() {
    min-height: 100%;
  }
  @include col-lg() {
    min-height: 100%;
  }
  padding: 30px 0;
  border-right: 4px solid #EEE;
  label {
    display: block;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }
}


#get-all {

}

#multi-select-toggle {
  font-size: 1.4em;
  color: tint($primary-font, 60%);
}

#options {
  padding: 7px 10px;
  button {
    text-align: center;
    display: block;
    outline: none;
    border: none;
    background: transparent;
  }
  &.active {
    color: $blue;
  }
}

#multi-select-toggle {
  &.active {
    color: $blue;
  }
}

#current-stocks {
  list-style-type: none;
  li {
    &:hover {
      background: tint($off-white, 40%);
    }
  }
  .stock-card {
    @include unevenBorders(solid 4px #DDD, solid 1px #EEE);
    cursor: pointer;
    padding: 10px 20px;
    background: $off-white;
    margin-left: 4px;
  }
  .stock-card.active {
    @include unevenBorders(solid 4px $blue, solid 1px tint($blue, 50%));
    background: tint($off-white, 40%);
    color: darken($blue, 25%);
  }

  .stock-data {
    display: inline-block;
    .stock-symbol {
      font-size: 1.6em;
      margin-bottom: 3px;
    }

    .stock-name {
      font-size: 1.2em;
      font-weight: 300;
      margin-bottom: 7px;
    }

    .stock-exchange {
      font-size: 0.7em;
      font-weight: 300;
      color: tint($primary-font, 60%);
      margin: 0;
    }
  }

  .stock-price {
    font-size: 1.6em;
    font-weight: 300;
    float: right;
    margin-right: 7x;
  }

  .delete-stock {
    color: #CCC;
    position: absolute;
    top: 3px;
    right: 3px;
    border: none;
    padding: 0 4px;
    display: none;
  }
}


#stock-search {
  #search-box-wrapper {
    margin: 0 10px;
    position: relative;
  }
  i {
    position: absolute;
    z-index: 3;
  }
  #search-icon {
    top: 10px;
    left: 10px;
  }
  #clear-search-icon {
    cursor: pointer;
    padding: 0 4px;
    top: 9px;
    right: 6px;
    font-size: 1.2em;
    color: #ccc;
  }
  #searching {
    top: 10px;
    right: 30px;
    color: #AAA;
  }
  input {
    @include border-radius(5px);
    margin: 10px 0;
    padding-left: 30px;
  }
  #search-results {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 3px auto 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px #DDD;
    @include col-lg() {
      width: 95%;
    }
    @include col-md() {
      width: 100%;
    }
    @include col-sm() {
      width: 100%;
    }
    @include col-xs() {
      width: 100%;
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      display: block;
      z-index: 10;
      top: -10px;
      right: 0;
      left: 0;
      margin: 0 auto;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-bottom: 10px solid #ccc;
      position: absolute;
    }
    li {
      cursor: pointer; 
      background: $off-white;
      &:hover {
        background: tint($off-white, 30%);
      }
    }
    .search-symbol {
      font-size: 1.1em;
      margin: 0;
    }
    .search-name {
      font-size: 0.9em;
      font-weight: 300;
      margin: 0;
    }
    #no-results {
      text-align: center;
    }
  }
}


#chart {
   @include col-lg() {
      padding: 0 4%;
    }
    @include col-md() {
      padding: 0 3%;
    }
    @include col-sm() {
      padding: 0 2%;
    }
    @include col-xs() {
      padding: 0 2%;
    }
}


#no-stocks {
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
}





