.container.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12
  .btn-group
    button.btn.btn-default(type='button' ng-click="getChartData(1)") 1 month
    button.btn.btn-default(type='button' ng-click="getChartData(3)") 3 months
    button.btn.btn-default(type='button' ng-click="getChartData(6)") 6 months
    button.btn.btn-default(type='button' ng-click="getChartData(12)") 12 months
  canvas(id="line" class="chart chart-line" chart-data="prices" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick")
  ul.list-group.row
    li.list-group-item.clearfix.col-lg-3.col-md-4.col.sm-6(ng-repeat="stock in stocks") {{stock.symbol}}
      button.btn.btn-danger.pull-right(ng-click="deleteStock(stock)") delete

  {{series}}
  {{prices}}
  {{labels}}
  form.new-stock-form
    p.input-group
      input.form-control(type='text', placeholder='Add a new stock here.', ng-model='newStock')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addStock()') Add New
